<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">
            <f:link.action action="show" pageUid="{settings.detailPid}" arguments="{job: job}">{job.name}</f:link.action>
        </div>
        <f:if condition="{job.office}">
            {job.office} &middot;
        </f:if>
        {f:translate(key: 'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.schedule.{job.schedule}')}
    </div>
    <span class="badge text-bg-light rounded-pill d-none d-md-inline-block">#{job.personioId}</span>
</li>

</html>
