parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $settings of static method CPSIT\Typo3PersonioJobs\Domain\Model\Dto\ListDemand::fromArray() expects array{sorting?: string, sortingDirection?: ''ASC''|''DESC'', filter?: array{subcompanyInclude?: string, subcompanyExclude?: string}}, array given.'
			identifier: argument.type
			count: 1
			path: Classes/Controller/JobController.php

		-
			rawMessage: 'Parameter #1 $settings (array{sorting?: string, sortingDirection?: ''ASC''|''DESC'', filter?: array{subcompanyInclude?: string, subcompanyExclude?: string}}) of method CPSIT\Typo3PersonioJobs\Domain\Model\Dto\ListDemand::fromArray() should be contravariant with parameter $settings (array<string, mixed>) of method CPSIT\Typo3PersonioJobs\Domain\Model\Dto\Demand::fromArray()'
			identifier: method.childParameterType
			count: 1
			path: Classes/Domain/Model/Dto/ListDemand.php

		-
			rawMessage: Cannot access an offset on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Extension.php

		-
			rawMessage: Cannot access offset 'SC_OPTIONS' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Extension.php

		-
			rawMessage: Cannot access offset 'processDatamapClass' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Extension.php

		-
			rawMessage: Cannot access offset 't3lib/class.t3lib_tcemain.php' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Extension.php

		-
			rawMessage: Cannot access offset 'columns' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Helper/SlugHelper.php

		-
			rawMessage: Cannot access offset 'config' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Helper/SlugHelper.php

		-
			rawMessage: Cannot access offset string on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Classes/Helper/SlugHelper.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 3
			path: Classes/Helper/SlugHelper.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: Classes/Helper/SlugHelper.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: Classes/Hooks/DataHandlerHook.php
