includes:
	- phpstan-baseline.neon
	- .Build/vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-configuration.php
	- .Build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
		- Classes
		- Configuration
		- Tests
	featureToggles:
		explicitMixedForGlobalVariables: false
