<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<f:section name="content">
    <h1 class="h1">{job.name}</h1>

    <div class="mt-4">
        <span class="badge text-bg-light rounded-pill">#{job.personioId}</span>
    </div>

    <ul class="list-group list-group-horizontal mt-4">
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.subcompany\')}',
            value: job.subcompany
        }" />
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.office\')}',
            value: job.office
        }" />
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.department\')}',
            value: job.department
        }" />
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.recruitingCategory\')}',
            value: job.recruitingCategory
        }" />
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.employmentType\')}',
            value: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.employmentType.{job.employmentType}\')}'
        }" />
        <f:render partial="Detail/Meta" arguments="{
            title: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.schedule\')}',
            value: '{f:translate(key: \'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:meta.schedule.{job.schedule}\')}'
        }" />
    </ul>

    <f:for each="{job.jobDescriptions}" as="jobDescription">
        <section class="job-detail-description mt-4">
            <f:if condition="{jobDescription.header}">
                <h2 class="h2">{jobDescription.header}</h2>
            </f:if>

            <f:if condition="{jobDescription.bodytext}">
                <f:format.html>{jobDescription.bodytext}</f:format.html>
            </f:if>
        </section>
    </f:for>

    <f:if condition="{applyUrl}">
        <div class="job-detail-apply mt-4">
            <f:link.external uri="{applyUrl}" class="btn btn-primary">{f:translate(key: 'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:link.apply')}</f:link.external>
        </div>
    </f:if>

    <f:if condition="{settings.listPid}">
        <div class="job-detail-back-link mt-4">
            <f:link.page pageUid="{settings.listPid}">&laquo; {f:translate(key: 'LLL:EXT:personio_jobs/Resources/Private/Language/locallang.xlf:link.list')}</f:link.page>
        </div>
    </f:if>
</f:section>

</html>
